<div class="row" ng-controller="busrouteCtrl" style="background-color: #00bcd4;">
    <div class="col-md-12">
        <div class="alert alert-danger" ng-show="busrouteError">
            <strong>Error: </strong> {{busrouteError}}
        </div>
       <h3>Bus Routes</h3>
        <div class="text-right" style="margin-bottom:10px;">
            <button type="button" class="btn btn-default" ng-click="createRoute()">Create new</button>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>From</th>
                    <th>Destination</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                
                <tr ng-repeat="busroute in model.allBusRoutes">
                    <td>{{busroute.From}}</td>
                    <td>{{busroute.To}}</td>
                    <td style="width:150px;text-align:center">
                        <button type="button" ng-click="edit(busroute)" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></button>
                        <button type="button" ng-click="delete(busroute)" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="addBusRoute">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-header-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"><i class="glyphicon glyphicon-plus-sign"></i> Create new bus route</h4>
                </div>
                <div class="modal-body">
                    <form name="addRouteForm" id="addRouteForm">
                        <div class="form-group">
                            <label class="control-label">From</label>
                            <input type="text" class="form-control" ng-model="newBusRoute.From" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Destination</label>
                            <input type="text" class="form-control" ng-model="newBusRoute.To" />
                        </div>
                    </form>
                </div>
                <div data-loading>
                    Please wait...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" form="addRouteForm" ng-disabled="addRouteForm.$invalid" ng-click="saveRoute()">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="editBusRoute">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-header-info">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"><i class="glyphicon glyphicon-pencil"></i> Edit bus route</h4>
                </div>
                <div class="modal-body">
                    <!--<p>One fine body&hellip;</p>-->
                    <form name="editRouteForm" id="editRouteForm">
                        <div class="form-group">
                            <label class="control-label">From</label>
                            <input type="text" class="form-control" ng-model="temp.From" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Destination</label>
                            <input type="text" class="form-control" ng-model="temp.To" />
                        </div>
                    </form>
                </div>
                <div data-loading>
                    Please wait...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" form="editRouteForm" ng-disabled="editRouteForm.$invalid" ng-click="UpdateRoute()">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="deleteBusRoute">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-header-warning">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"><i class="glyphicon glyphicon-trash"></i> Confirm delete!</h4>
                </div>
                <div class="modal-body">
                    <!--<p>One fine body&hellip;</p>-->
                    <p>Are you sure want to delete this Route</p>
                </div>
                <div data-loading>
                    Please wait...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="deleteRoute()">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
